* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    background-color: pink;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


h2 {
    margin-bottom: 20px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc6e;
    border-radius: 5px;
}

/*styling button*/
button {
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: red;
}
